App\Entity\User:
  properties:
    name:
      - NotBlank: ~
    password:
      - NotBlank: ~
    email:
      - NotBlank: ~
      - Email: ~

App\Entity\Category:
  properties:
    name:
      - NotBlank: ~
    user:
      - NotBlank: ~