App\Entity\User:
  properties:
    name:
      - NotBlank: ~
    password:
      - NotBlank: ~
    email:
      - NotBlank: ~
      - Email: ~

App\Entity\Category:
  properties:
    name:
      - NotBlank: ~
    company:
      - NotBlank: ~
    iva:
      - GreaterThan: 0
      - Choice: { callback: getIvas }

App\Entity\Company:
  properties:
    name:
      - NotBlank: ~

App\Entity\Product:
  properties:
    name:
      - NotBlank: ~
    company:
      - NotBlank: ~
    category:
      - NotBlank: ~