App\Entity\User:
  properties:
    name:
      - NotBlank: ~
    password:
      - NotBlank: ~
    email:
      - NotBlank: ~
      - Email: ~
    company:
      - NotBlank: ~
    profile:
      - NotBlank: ~
      - Choice: { callback: getProfiles }

App\Entity\Category:
  properties:
    name:
      - NotBlank: ~
    company:
      - NotBlank: ~
    tax:
      - GreaterThan: 0
      - Choice: { callback: getIvas }
    minStock:
      - GreaterThanOrEqual: 0
    maxStock:
      - GreaterThanOrEqual: { propertyPath: minStock }

App\Entity\Company:
  properties:
    name:
      - NotBlank: ~
    email:
      - NotBlank: ~
      - Email: ~
    phone:
      - NotBlank: ~
      - Regex: '/^[0-9]*$/'
      - Length:
          min: 9
          max: 9
          allowEmptyString: false
    address:
      - NotBlank: ~
    cif:
      - NotBlank: ~
      - Regex: '/([a-z]|[A-Z]|[0-9])[0-9]{7}([a-z]|[A-Z]|[0-9])/'

App\Entity\Provider:
  properties:
    name:
      - NotBlank: ~
    email:
      - NotBlank: ~
      - Email: ~
    company:
      - NotBlank: ~

App\Entity\Product:
  constraints:
    - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: barcode
  properties:
    name:
      - NotBlank: ~
    company:
      - NotBlank: ~
    category:
      - NotBlank: ~
    tax:
      - GreaterThan: 0
      - Choice: { callback: getIvas }
    minStock:
      - GreaterThanOrEqual: 0
    maxStock:
      - GreaterThanOrEqual: { propertyPath: minStock }
    price:
      - GreaterThan: 0
    kilograms:
      - GreaterThan: 0
    productHeight:
      - GreaterThan: 0
    productLength:
      - GreaterThan: 0
    productWidth:
      - GreaterThan: 0
    barcode:
      - NotBlank: ~
    location:
      - NotBlank: ~
App\Entity\Purchase:
  properties:
    provider:
      - NotBlank: ~
    company:
      - NotBlank: ~
    taxes:
      - GreaterThanOrEqual: 0
    total:
      - GreaterThanOrEqual: 0
    status:
      - NotBlank: ~
      - Choice: { callback: getStatuses }
    reference:
      - Length:
          min: 1
          max: 10
          allowEmptyString: false

App\Entity\Client:
  constraints:
    - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: email
    - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: identification
  properties:
    name:
      - NotBlank: ~
    identification:
      - NotBlank: ~
    email:
      - Email: ~
      - NotBlank: ~
    company:
      - NotBlank: ~

App\Entity\PurchaseLine:
  properties:
    purchase:
      - NotBlank: ~
    provider:
      - NotBlank: ~
    product:
      - NotBlank: ~
    company:
      - NotBlank: ~
    tax:
      - GreaterThanOrEqual: 0
    quantity:
      - NotBlank: ~
      - GreaterThanOrEqual: 1

App\Entity\ProductProvider:
  properties:
    provider:
      - NotBlank: ~
    product:
      - NotBlank: ~
    price:
      - NotBlank: ~
      - GreaterThanOrEqual: 0
      - LessThanOrEqual: { propertyPath: productPrice }
    company:
      - NotBlank: ~

App\Entity\Color:
  properties:
    name:
      - NotBlank: ~
    company:
      - NotBlank: ~

App\Entity\Size:
  properties:
    name:
      - NotBlank: ~
    company:
      - NotBlank: ~
    type:
      - NotBlank: ~
      - Choice: { callback: getTypes }