App\Entity\User:
  properties:
    name:
      - NotBlank: ~
    password:
      - NotBlank: ~
    email:
      - NotBlank: ~
      - Email: ~
    company:
      - NotBlank: ~

App\Entity\Category:
  properties:
    name:
      - NotBlank: ~
    company:
      - NotBlank: ~
    tax:
      - GreaterThan: 0
      - Choice: { callback: getIvas }
    minStock:
      - GreaterThanOrEqual: 0
    maxStock:
      - GreaterThanOrEqual: { propertyPath: minStock }

App\Entity\Company:
  properties:
    name:
      - NotBlank: ~

App\Entity\Provider:
  properties:
    name:
      - NotBlank: ~

App\Entity\Product:
  properties:
    name:
      - NotBlank: ~
    company:
      - NotBlank: ~
    category:
      - NotBlank: ~
    tax:
      - GreaterThan: 0
      - Choice: { callback: getIvas }
    minStock:
      - NotBlank: ~
      - GreaterThanOrEqual: 0
    maxStock:
      - NotBlank: ~
      - GreaterThanOrEqual: { propertyPath: minStock }
    price:
      - GreaterThan: 0

App\Entity\Purchase:
  properties:
    provider:
      - NotBlank: ~
    company:
      - NotBlank: ~
    taxes:
      - GreaterThanOrEqual: 0
    total:
      - GreaterThanOrEqual: 0
    status:
      - NotBlank: ~
      - Choice: { callback: getStatuses }
    reference:
      - NotBlank: ~
      - Length:
          min: 1
          max: 10
          allowEmptyString: false

App\Entity\Client:
  constraints:
    - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: email
    - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: identification
  properties:
    name:
      - NotBlank: ~
    identification:
      - NotBlank: ~
    email:
      - Email: ~
      - NotBlank: ~

App\Entity\PurchaseLine:
  properties:
    purchase:
      - NotBlank: ~
    provider:
      - NotBlank: ~
    product:
      - NotBlank: ~
    company:
      - NotBlank: ~
    tax:
      - GreaterThanOrEqual: 0
    quantity:
      - NotBlank: ~
      - GreaterThanOrEqual: 1
      - LessThanOrEqual: { propertyPath: stockAvailability }
