security:
  encoders:
    App\Entity\User:
      algorithm: 'auto'

  access_decision_manager:
    strategy: unanimous
    allow_if_all_abstain: false
  # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
  providers:
    # used to reload user from session & other features (e.g. switch_user)
    app_user_provider:
      id: App\Security\UserProvider

  firewalls:
    dev:
      pattern: ^/_(profiler|wdt)
      security: false

    api:
      logout:
        path: app_logout
      pattern: ^/api/v1
      stateless: true
      anonymous: true
      guard:
        authenticators:
          - lexik_jwt_authentication.jwt_token_authenticator
    main:
      anonymous: true
      logout:
        path: app_logout
      json_login:
        check_path: /authentication_token
        provider: app_user_provider
        username_path: email
        password_path: password
        success_handler: lexik_jwt_authentication.handler.authentication_success
        failure_handler: lexik_jwt_authentication.handler.authentication_failure
      guard:
          authenticators:
              - App\Security\AppCustomAuthenticator

  access_control:
    - { path: ^/api/v1/*, roles: IS_AUTHENTICATED_FULLY }
    - { path: ^/api/v1/docs, roles: IS_AUTHENTICATED_ANONYMOUSLY } # Allows accessing the Swagger UI
    - { path: ^/authentication_token, roles: IS_AUTHENTICATED_ANONYMOUSLY }
    - { path: ^/management, roles: IS_AUTHENTICATED_FULLY }
    - { path: ^/, roles: IS_AUTHENTICATED_ANONYMOUSLY }
