App\Entity\User:
  type: entity
  table: user

  id:
    id:
      type: string
      generator:
        strategy: CUSTOM
      customIdGenerator:
        class: Ramsey\Uuid\Doctrine\UuidGenerator

  fields:
    name:
      type: string
      nullable: false

    email:
      type: string
      nullable: false
      unique: true

    password:
      type: string
      nullable: false

    roles:
      type: simple_array
      nullable: false

    salt:
      type: string
      nullable: false

    createdAt:
      type: datetime
      nullable: false

    updatedAt:
      type: datetime
      nullable: false

  lifecycleCallbacks:
    prePersist: [updatedAt]